# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\chuang\program\功能函数分析 真\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
